/* ========================================================================== */
/* App
/* ========================================================================== */
/* Tabs */
body:not([class*="seamless"]) :is(#typora-sidebar, content) {
    border-top: 1px solid var(--border-color);
}

/* Blink Effect (ex: rename file) */
.blink-area {
  -webkit-animation: none;
          animation: none;
}

/* Buttons */
.btn-primary,
.btn-primary:hover {
    background: var(--active-background);
    color: var(--active-color);
}

.btn-primary:hover {
    filter: contrast(1.2);
}

/* Context Menus */
.context-menu,
.dropdown-menu,
:is(.context-menu, .dropdown-menu) > li > a {
    color: var(--menu-color);
}

.context-menu,
.dropdown-menu {
    background: var(--menu-background);
    font-size: var(--font-size-app);
}

.context-menu .divider {
    border-top: var(--border-width) solid var(--border-color);
    opacity: 1;
}

:is(.context-menu, .dropdown-menu) .ty-menu-shortcut {
    font-family: var(--font-family-sans);
}

.context-menu.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:hover {
    background: var(--menu-item-hover-background);
    color: var(--menu-item-hover-color);
}

/* Tooltips */
.code-tooltip-content * {
    color: unset;
}

/* Auto-suggest (ex: code fence language selection) */
#ty-auto-suggest {
    border-radius: var(--border-radius);
    font-size: var(--font-size-s);
    box-shadow: none;
    filter: var(--drop-shadow);
}

/* Search Hits */
.md-search-hit,
.md-search-hit.md-search-select,
.md-search-select,
:is(#write, #typora-source) .cm-search-hit,
:is(#write, #typora-source) .CodeMirror-selectedtext,
.ty-file-search-match-text {
    border-radius: var(--border-radius-xs);
    background-color: unset !important;
    background: var(--search-match-background) !important;
    box-shadow: 0 0 0 2px var(--search-match-border-color);
    color: var(--search-match-color) !important;
}


/* ========================================================================== */
/* Content Area
/* ========================================================================== */
#write {
    max-width: var(--max-width);
    color: var(--text-color);
}

#write > :first-child {
    margin-top: 0;
}

#write > :last-child {
    margin-bottom: 0;
}
