/* ========================================================================== */
/* Search Bar (CMD/CTRL+F)
/* ========================================================================== */
.mac-seamless-mode #md-searchpanel {
    max-height: 63px;
}

#md-searchpanel {
    border-bottom: 1px solid var(--search-border-color);
    background: var(--search-background);
    color: var(--search-color);
    box-shadow: none;
    filter: var(--drop-shadow);
}

#md-searchpanel input,
#md-searchpanel .btn,
#searchpanel-msg {
    border-radius: var(--border-radius-s);
}

#md-searchpanel input {
    background: var(--search-input-background);
    border-color: var(--search-input-border-color);
    color: var(--search-input-color);
}

#md-searchpanel input:focus,
#md-searchpanel input:not(:placeholder-shown) {
    border-color: var(--search-active-background);
}

#md-searchpanel .btn:not(.close-btn):hover {
    box-shadow: none;
}

.searchpanel-search-option-btn {
    top: 4px;
    padding: 3px 2px;
    border: 0;
    color: var(--search-input-color);
    opacity: 0.5;
}

.searchpanel-search-option-btn:hover,
.searchpanel-search-option-btn.active {
    opacity: 1;
}

.searchpanel-search-option-btn:hover {
    background: var(--search-hover-background);
    color: var(--search-hover-color);
}

.searchpanel-search-option-btn.active {
    background: var(--search-active-background);
    color: var(--search-active-color);
}
