/* ========================================================================== */
/* Search Bar (CMD/CTRL+F)
/* ========================================================================== */
.mac-seamless-mode #md-searchpanel {
    max-height: 63px;
}

#md-searchpanel {
    border-bottom: 1px solid var(--sidebar-border-color);
    background: var(--sidebar-background);
    color: var(--sidebar-color);
    box-shadow: none;
    filter: var(--drop-shadow);
}

#md-searchpanel input,
#md-searchpanel .btn,
#searchpanel-msg {
    border-radius: var(--border-radius-s);
    font-size: var(--font-size-app-s);
}

#md-searchpanel input {
    background: var(--input-background);
    border-color: var(--input-border-color);
    color: var(--input-color);
}

#md-searchpanel input:focus,
#md-searchpanel input:not(:placeholder-shown) {
    border-color: var(--input-focus-color);
}

#md-searchpanel .btn:not(.close-btn):hover {
    box-shadow: none;
}

.searchpanel-search-option-btn,
.searchpanel-search-option-btn:hover,
.searchpanel-search-option-btn.active {
    opacity: 1;
}

.searchpanel-search-option-btn {
    top: 4px;
    padding: 3px 2px;
    border: 0;
    background: var(--btn-toggle-background);
    color: var(--btn-toggle-color);
}

.searchpanel-search-option-btn:hover {
    background: var(--btn-toggle-hover-background);
    color: var(--btn-toggle-hover-color);
}

.searchpanel-search-option-btn.active {
    background: var(--btn-toggle-active-background);
    color: var(--btn-toggle-active-color);
}

#search-panel-status .error-message {
    padding: 0.25em 0.5em;
    border-radius: var(--border-radius-s);
    background: var(--color-status);
    color: var(--color-status-content);
}
