@import url("_reset.css");
@import url("_colors.css");
/* @import url("_dev.css"); */


/* ========================================================================== */
/* Variables
/* ========================================================================== */
:root {
    /* Themeable */
    --code-padding-tb: 1.5em;
    --code-padding-lr: 1.5em;

    /* Typora Overrides */
    --active-file-bg-color    : var(--sidebar-active-background);
    --active-file-text-color  : var(--sidebar-active-color);
    --bg-color                : var(--background-color);
    --control-text-color      : var(--sidebar-text-color);
    --control-text-hover-color: var(--sidebar-hover-color);
    --md-char-color           : var(--md-brackets-expanded);
    --meta-content-color      : inherit;
    --monospace               : var(--font-family-mono);
    --search-select-bg-color  : var(--theme-mono-500);
    --search-select-text-color: #fff;
    --select-text-bg-color    : var(--selection-background);
    --select-text-font-color  : var(--selection-color);
    --window-border           : 1px solid var(--border-color);
}


/* ========================================================================== */
/* Base
/* ========================================================================== */
*,
*::before,
*::after  {
    border: 0;
    border-style: solid;
    border-color: currentColor;
}

html {
    accent-color: var(--theme-primary);
    font-family: var(--font-family-sans);
    font-size: var(--root-font-size);
    font-weight: var(--font-weight);
    font-family: var(--font-family-sans)
}

html,
body {
    line-height: var(--line-height);
}

/* ========================================================================== */
/* App
/* ========================================================================== */
.blink-area {
  -webkit-animation: none;
          animation: none;
}

.btn-primary,
.btn-primary:hover {
    background: var(--active-background);
    color: var(--active-color);
}

.btn-primary:hover {
    filter: contrast(1.2);
}

/* Context Menu (e.g., table context menu and... ???)*/
.context-menu {
    width: 250px;
}
.context-menu .divider {
    border-top: var(--border-width) solid var(--border-color);
    opacity: 1;
}
.context-menu .ty-menu-shortcut {
    font-family: var(--font-family-sans);
}

/* Tooltips */
.code-tooltip-content * {
    color: unset;
}

/* Tabs */
body:not([class*="seamless"]) :is(#typora-sidebar, content) {
    border-top: 1px solid var(--border-color);
}

/* Auto-suggest (code fence language selection and... ???) */
#ty-auto-suggest {
    border-radius: var(--border-radius);
    font-size: var(--font-size-s);
    box-shadow: none;
    filter: var(--drop-shadow);
}

/* Search Hits */
.cm-search-hit.CodeMirror-selectedtext,
.md-search-hit.md-search-select,
.md-search-select,
.md-search-hit {
    border-radius: var(--border-radius-xs);
    box-shadow: 0 0 0 1px var(--theme-mono-500);
}

.md-search-hit {
    background: var(--search-select-bg-color);
    color: var(--search-select-text-color);
}


/* ========================================================================== */
/* Sidebar
/* ========================================================================== */
#typora-sidebar {
    border-right: var(--sidebar-border-width) solid var(--sidebar-border-color);
    background: var(--sidebar-background);
    color: var(--sidebar-text-color);
}

#typora-sidebar,
#sidebar-files-menu.dropdown-menu > li {
    font-size: var(--font-size-app);
}

#typora-sidebar input {
    border-radius: var(--border-radius-s);
    background: var(--sidebar-input-background);
    color: var(--sidebar-input-color);
}

.file-list-item-time,
.file-list-item-parent-loc,
.file-list-item-summary,
.ty-search-item-line {
    font-family: var(--font-family-sans);
}

.ty-search-item-line:hover {
    background-color: var(--hover-background);
    color: var(--hover-color);
}

/* Selection Dot */
.outline-item-active::after,
.active .file-list-item-file-name::after,
.active .file-node-content::after {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    right: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--theme-secondary);
}

/* Headers
/* -------------------------------------------------------------------------- */
.sidebar-tabs {
    border-bottom: var(--sidebar-border-width) solid var(--sidebar-border-color);
}

.sidebar-tab {
    font-weight: var(--strong-font-weight);
    text-transform: none;
}

/* Outline */
/* -------------------------------------------------------------------------- */
.pin-outline #outline-content .outline-active strong,
.pin-outline .outline-active {
    font-weight: var(--strong-font-weight);
}

.pin-outline .outline-active {
    font-weight: var(--font-weight);
}

.outline-item,
.no-collapse-outline .outline-item {
    margin: 1px 0;
}

.outline-item {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.outline-item::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100px;
    left: -100px;
}

.outline-item:hover {
    margin-right: 0;
    margin-left: 0;
    border-right: 0;
    border-left: 0;
    background: none;
    color: var(--sidebar-hover-color);
}

.outline-item:hover::before {
    background: var(--sidebar-hover-background);
}

.outline-item > * {
    position: relative;
}

.outline-expander,
.outline-expander:before {
    --icon-width: 10px;

    width: calc(var(--icon-width) * 2);
    padding: 0;
    font-size: var(--icon-width);
    line-height: var(--icon-width);
}

.outline-expander {
    display: unset;
    height: auto;
    text-align: center;
}

.outline-label {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.outline-label:hover {
    text-decoration: none;
}

.outline-item-active {
    position: relative
    padding-right: 8px;
    color: var(--sidebar-active-color);
}

.outline-item-active::before {
    background: var(--sidebar-active-background);
}

.outline-item-active .outline-label {
    padding-right: 10px;
}

/* Articles & Files (Shared)
/* -------------------------------------------------------------------------- */
.file-node-icon.fa-folder::before {
    content: "\f114";
}

.file-node-open-state {
    margin-top: -2px;
    margin-right: 3px;
    margin-left: -2px;
}

.file-node-collapsed .fa-caret-right::before {
    content: "\f125";
    font-family: Ionicons;
    font-size: 10px;
}

.file-node-expanded .fa-caret-down::before {
    content: "\f123";
    font-family: Ionicons;
    font-size: 10px;
}

/* Articles
/* -------------------------------------------------------------------------- */
.file-list-item-file-ext-part,
.file-list-item-parent-loc,
.file-list-item-summary,
.file-list-item-time {
    opacity: 0.8;
}

.file-list-item-parent-loc,
.file-list-item-time {
    margin-bottom: 3px;
    font-size: var(--font-size-app-s);
}

.file-list-item {
    border-bottom: var(--sidebar-border-width) solid var(--sidebar-border-color);
}

.file-list-item:hover {
    background-color: var(--sidebar-hover-background);
    color: var(--sidebar-hover-color);
}

.file-list-item.active {
    background: var(--sidebar-active-background);
    color: var(--sidebar-active-color);
}

.file-list-item-file-name {
    position: relative;
    margin-bottom: 4px;
}

.active .file-list-item-file-name {
    padding-right: 20px;
    font-weight: var(--strong-font-weight);
}

/* Selection Dot */
.active .file-list-item-file-name::after {
    right: 8px;
}

.file-list-item-summary {
    height: auto;
    max-height: calc(3 * 0.95em * var(--line-height));
    line-height: inherit;
    font-size: var(--font-size-app-s);
}

.file-list-item-time {
    font-size: var(--font-size-app-s);
}

/* Files List
/* -------------------------------------------------------------------------- */
.file-library-file-node:not(.active):hover {
    color: var(--sidebar-hover-color);
}

.file-library-file-node:not(.active):hover > .file-node-background {
    background: var(--sidebar-hover-background);
}

/* Remove dashed outline on mouse-down. */
/* NOTE: Bad for keyboard navigation, but this is broken in Typora already. */
.file-library-node:not(.file-node-root):focus > .file-node-content {
    outline: unset;
}

.file-node-content {
    padding-right: 0;
}

.file-node-content:hover {
    cursor: pointer;
}

/* Selection Dot */
.active .file-node-content::after {
    right: 14px;
}

.file-node-icon {
    margin-right: 5px;
}

.file-node-title {
    width: calc(var(--sidebar-width) - 40px);
    overflow: hidden;
    text-overflow: ellipsis;
    /* outline: 1px solid red; */
}

.file-node-children .file-node-title {
    width: calc(var(--sidebar-width) - 80px);
    /* outline: 1px solid blue; */
}

.file-node-children .file-node-children .file-node-title {
    width: calc(var(--sidebar-width) - 88px);
    /* outline: 1px solid green; */
}

.file-node-children .file-node-children .file-node-children .file-node-title {
    width: calc(var(--sidebar-width) - 96px);
    /* outline: 1px solid orange; */
}

.allow-file-tree-scroll .file-node-title {
    overflow-x: hidden;
}

.file-tree-node {
    position: relative;
}

.file-tree-node.active > .file-node-background {
    border: 0;
}

.file-tree-node.active > .file-node-background {
    background-color: var(--sidebar-active-background);
}

.file-tree-node.active > .file-node-content {
    color: var(--sidebar-active-color);
}

.file-node-background {
    top: 0;
    bottom: 0;
    right: -4px;
    left: -100px;
    height: auto;
    width: auto;
}

/* Search
/* -------------------------------------------------------------------------- */
#sidebar-search-btn,
#ty-sidebar-search-back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#ty-sidebar-search-tabs .searchpanel-search-option-btn {
    top: 1em;
    padding: 3px 1px;
}

.ty-sidebar-search-panel .searchpanel-search-option-btn:hover {
    background: var(--hover-background);
    color: var(--hover-color);
}

.ty-sidebar-search-panel .searchpanel-search-option-btn.select {
    background: var(--active-background);
    color: var(--active-color);
}

#filesearch-case-option-btn {
    transform: translateX(-8px);
}

#filesearch-word-option-btn {
    transform: translateX(-4px);
}

#file-library-search-input {
    padding: 0.5em 0.75em;
    border: 1px solid currentColor;
    border-color: var(--sidebar-border-color);
    border-radius: var(--border-radius-s);
    background: transparent;
    color: inherit;
}

#file-library-search-input:not(:placeholder-shown),
#file-library-search-input:focus {
    border-color: var(--active-background);
    background: var(--sidebar-input-background);
    color: var(--sidebar-input-color);
}

.ty-search-item {
    border-bottom: var(--sidebar-border-width) solid var(--sidebar-border-color);
}

.ty-file-search-match-text {
    border-radius: var(--border-radius-xs);
    box-shadow: 0 0 0 1px var(--marked-background);
    background: var(--marked-background);
    color: var(--marked-color);
}

.file-list-item-count {
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    background-color: var(--theme-mono-300);
    text-align: center;
    line-height: 1.5;
}

/* Footer Menu
/* -------------------------------------------------------------------------- */
#sidebar-files-menu {
    border: var(--sidebar-border-width) solid var(--sidebar-border-color);
}

#ty-sidebar-footer,
#sidebar-files-menu > .show + .menuitem-group-label.show {
    border-top: var(--sidebar-border-width) solid var(--sidebar-border-color);
}

.dropdown-menu > li > a {
    color: var(--sidebar-text-color);
}

.footer-item:hover,
.sidebar-footer-item:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background: var(--sidebar-hover-background);
    color: var(--sidebar-hover-color);
}

.dropdown-menu .folder-menu-item i {
    margin-right: 6px;
}

.menuitem-group-label.not-empty-menu-group {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.menuitem-group-label.not-empty-menu-group > .clearfix {
    display: none;
}

.dropdown-menu .selected-folder-menu-item a::after {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    right: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--theme-secondary);
}

.dropdown-menu .ty-icon {
    font-size: var(--font-size-app-s);
    font-size: revert;
}

.dropdown-menu .ty-icon.active {
    background: var(--active-background);
    color: var(--active-color);
}

.ty-side-sort-btn {
    border-radius: var(--border-radius-s);
}

.ty-side-sort-btn:hover {
    background: var(--sidebar-hover-background);
    color: var(--sidebar-hover-color);
}


/* ========================================================================== */
/* Search Bar (CMD/CTRL+F)
/* ========================================================================== */
.mac-seamless-mode #md-searchpanel {
    max-height: 63px;
}

#md-searchpanel {
    border-bottom: 1px solid var(--search-border-color);
    background: var(--search-background);
    color: var(--search-color);
    box-shadow: none;
    filter: var(--drop-shadow);
}

#md-searchpanel input,
#md-searchpanel .btn,
#searchpanel-msg {
    border-radius: var(--border-radius-s);
}

#md-searchpanel input {
    background: var(--search-input-background);
    border-color: var(--search-input-border-color);
    color: var(--search-input-color);
}

#md-searchpanel input:focus,
#md-searchpanel input:not(:placeholder-shown) {
    border-color: var(--search-active-background);
}

#md-searchpanel .btn:not(.close-btn):hover {
    box-shadow: none;
}

.searchpanel-search-option-btn {
    top: 4px;
    padding: 3px 2px;
    border: 0;
    color: var(--search-input-color);
    opacity: 0.5;
}

.searchpanel-search-option-btn:hover,
.searchpanel-search-option-btn.active {
    opacity: 1;
}

.searchpanel-search-option-btn:hover {
    background: var(--search-hover-background);
    color: var(--search-hover-color);
}

.searchpanel-search-option-btn.active {
    background: var(--search-active-background);
    color: var(--search-active-color);
}


/* ========================================================================== */
/* Quick Open
/* ========================================================================== */
#typora-quick-open {
    padding: 0;
    border-width: var(--outline-border-width);
    border-color: var(--outline-border-color);
    border-radius: var(--border-radius);
    background: var(--outline-background);
    color: var(--outline-color);
    box-shadow: none;
    filter: var(--drop-shadow);
}

#typora-quick-open-input,
.typora-quick-open-list {
    padding: 0.5em;
}

#typora-quick-open-input input {
    max-height: unset;
    overflow: unset;
    border-color: var(--outline-border-color);
    border-radius: var(--border-radius-s);
    font-size: var(--font-size-app);
    line-height: 2;
}

.ty-quick-open-category-title,
.typora-quick-open-item-path {
    opacity: 0.7;
}

.ty-quick-open-category-title {
    margin-top: 0.5rem;
    margin-bottom: 0.15rem;
    font-size: var(--font-size-app-xs);
    height: auto;
    line-height: var(--line-height);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.ty-quick-open-category.ty-has-prev .ty-quick-open-category-title {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}

.typora-quick-open-item,
.typora-quick-open-item-path {
    max-height: auto;
    line-height: var(--line-height);
}

.typora-quick-open-item {
    height: auto;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-size: var(--font-size-app);
    cursor: pointer;
}

.typora-quick-open-item.active {
    border-radius: var(--border-radius-s);
}

.typora-quick-open-item-path {
    font-size: var(--font-size-app-s);
}

.typora-quick-open-item-title {
    margin-bottom: 0.25em;
    line-height: var(--line-height);
}

.typora-quick-open-item-title b {
    border-radius: var(--border-radius-xs);
    box-shadow: 0 0 0 1px var(--marked-background);
    background: var(--marked-background);
    color: var(--marked-color);
}

/* ========================================================================== */
/* Outline Popover
/* ========================================================================== */
#toc-dropmenu {
    right: 0;
    border-width: var(--outline-border-width) 0 var(--outline-border-width) var(--outline-border-width);
    border-color: var(--outline-border-color);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    background: var(--outline-background);
    color: var(--outline-color);
    box-shadow: none;
    filter: var(--drop-shadow);
}

#toc-dropmenu.open {
    animation: toc-in-from-right .3s ease-in;
}

#toc-dropmenu .btn {
    color: inherit;
}

#toc-dropmenu .divider {
    margin: 5px 0;
    border-top: var(--outline-border-width) solid var(--outline-border-color);
    opacity: 1;
}

#toc-dropmenu .outline-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes toc-in-from-right {
    0% {
        opacity: 0;
        transform: translateX(20%)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}


/* ========================================================================== */
/* Content Area
/* ========================================================================== */
#write {
    max-width: var(--max-width);
    padding-top: 100px;
    padding-bottom: 100px;
    color: var(--text-color);
}

#write > :first-child {
    margin-top: 0;
}

#write > :last-child {
    margin-bottom: 0;
}


/* ========================================================================== */
/* Tags
/* ========================================================================== */
a,
a code {
    color: var(--link-color);
}

a {
    text-decoration: underline;
}

b,
strong {
    color: var(--strong-color);
    font-weight: var(--strong-font-weight);
}

blockquote {
    margin: 1.5rem 0;
    padding: var(--blockquote-padding);
    border-width: var(--blockquote-border-width);
    border-color: var(--blockquote-border-color);
    background: var(--blockquote-background);
    color: var(--blockquote-color);
}

code,
kbd,
samp,
pre {
    font-family: var(--font-family-mono);
}

code,
pre {
    font-size: var(--font-size-mono);
    font-weight: var(--font-weight-mono);
}

hr {
    border-color: var(--hr-color);
    border-top-width: var(--hr-width);
}

input::placeholder,
textarea::placeholder {
    color: var(--sidebar-input-placeholder-color);
}

.md-hr {
    margin: 3rem 0;
}

mark {
    border-radius: var(--border-radius-xs);
    box-shadow: 0 0 0 1px var(--marked-background);
    background: var(--marked-background);
    color: var(--marked-color);
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

small {
    font-size: var(--font-size-s);
}

sub,
sup {
    font-size: var(--font-size-s);
}


/* ========================================================================== */
/* Markdown
/* ========================================================================== */
/* Button Icons */
button.btn .ty-icon {
    font-size: 13px; /* Icons */
}

/* Footnotes */
.footnotes {
    opacity: 1;
    font-size: var(--font-size-s);
}

.md-p {
    /* Footnote cursor fix #1 */
    z-index: 0;
}

.md-footnote {
    /* Footnote cursor fix #2 */
    z-index: -1;
}

sup.md-footnote {
    padding: 0.1em 0.25em 0.2em 0.25em;
    border-radius: var(--border-radius-s);
    background: var(--code-inline-background);
    color: var(--code-inline-color);
    line-height: 1;
}

/* Footnote Brackets */
.md-def-name:before,
.md-def-name:after,
.md-def-title:before,
.md-def-title:after,
/* Link Brackets */
.md-link .md-meta.md-before,
.md-link .md-meta.md-after {
    color: var(--md-brackets);
}

/* Footnote & Link Bracket */
.md-footnote .md-meta.md-before,
.md-link .md-meta.md-before {
    margin-right: 0.15em;
}

/* Footnote & Link Bracket */
.md-footnote .md-meta.md-after,
.md-link .md-meta.md-before ~ .md-meta.md-before,
.md-link .md-meta.md-after {
    margin-left: 0.15em;
}

/* Footnote & Link Name */
.md-def-name {
    font-weight: var(--strong-font-weight);
    color: var(--strong-color);
}

/* HTML tags (always visible) */
.md-br,
.md-br-content,
.md-comment {
    opacity: 1;
    color: var(--md-tags);
}

/* Images */
.md-image > .md-meta {
    color: inherit;
    font-family: var(--font-family-sans);
}

/* Image Icon */
.md-image > .md-meta:before,
/* HTML tags */
.md-raw-inline:not(.md-br-content) {
    opacity: 1 !important;
    color: var(--md-tags-expanded);
}

/* URLs */
.md-url,
.md-def-url {
    color: var(--link-color);
}


/* ========================================================================== */
/* YAML Front Matter
/* ========================================================================== */
#write pre.md-meta-block:first-child {
    position: relative;
    overflow: visible;
    margin-bottom: 2.5rem;
    padding: var(--code-padding-tb) var(--code-padding-lr);
    border-radius: var(--border-radius);
    background: var(--code-background);
    color: var(--code-text-color);
    font-size: var(--font-size-mono);
    font-weight: var(--font-weight-mono);
}

#write pre.md-meta-block:first-child:after {
    content: 'YAML Front Matter';
    position: absolute;
    z-index: 1;
    inset: auto var(--code-padding-lr) 100% auto;
    padding: 0 1em;
    border-radius: var(--border-radius-s);
    background: var(--code-language-background);
    color: var(--code-language-color);
    font-size: var(--font-size-s);
    line-height: calc(var(--font-size-mono) * var(--line-height));
    transform: translateY(50%);
}

#write pre.md-meta-block:first-child:empty {
    line-height: 1.15;
}

#write pre.md-meta-block:first-child:empty:before {
    content: 'Insert YAML front matter here...';
    color: var(--code-comment-color);
}


/* ========================================================================== */
/* Headings
/* ========================================================================== */
:is(h1, h2, h3, h4, h5, h6) {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: var(--heading-color);
    font-weight: var(--heading-font-weight);
}

:is(h1, h2, h3, h4, h5, h6).md-heading::before {
    all: unset;
    position: absolute;
    top: 50%;
    right: calc(100% + 0.5em);
    transform: translate(0, -50%);
    font-size: 0.75rem;
    color: var(--md-brackets);
    opacity: 0;
    transition: all 0.2s 0s;
}

:is(h1, h2, h3, h4, h5, h6).md-focus::before {
    transform: translate(-0.5em, -50%);
    opacity: 1;
}

h1 {
    margin-top: 3rem;
    font-size: var(--h1-font-size);
    line-height: 1.1;
}

h1.md-heading::before {
    content: 'H1';
}

h2 {
    margin-top: 2rem;
    font-size: var(--h2-font-size);
    line-height: 1.2;
}

h2.md-heading::before {
    content: 'H2';
}

h3 {
    font-size: var(--h3-font-size);
    line-height: 1.3;
}

h3.md-heading::before {
    content: 'H3';
}

h4 {
    font-size: var(--h4-font-size);
}

h4.md-heading::before {
    content: 'H4';
}

h5 {
    font-size: var(--h5-font-size);
}

h5.md-heading::before {
    content: 'H5';
}

h6 {
    font-size: var(--h6-font-size);
}

h6.md-heading::before {
    content: 'H6';
}

h6 ~ :not(h1, h2, h3, h4, h5, h6) {
    font-size: var(--h6-font-size);
}

h6 ~ :is(h1, h2, h3, h4, h5, h6) ~ *:not(h1, h2, h3, h4, h5, h6) {
    font-size: inherit;
}


/* ========================================================================== */
/* Lists
/* ========================================================================== */
ol,
ul {
    padding-left: 1.5rem;
}

ol {
    margin-left: 0.25rem;
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}

:is(ol, ul) :is(ol, ul) {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

ol > li::marker {
    color: var(--counter-color);
}

ul > li::marker {
    color: var(--marker-color);
}

/* Task Lists
/* -------------------------------------------------------------------------- */
#write li.task-list-item {
    padding-left: 0.75em;
}

input[checked] ~ * {
    opacity: 0.6;
    text-decoration: line-through;
}

#write input[type=checkbox],
li.task-list-item > input[type=checkbox] {
    appearance: none;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    padding: 0;
    border: 1px solid var(--theme-mono-300);
    border-radius: var(--checkbox-border-radius);
    background: var(--theme-mono-100);
}

#write input[type=checkbox][checked] {
    border-color: var(--theme-primary);
    background:
        var(--checkbox-icon) center center / 85% no-repeat,
        var(--theme-primary);
}

li.task-list-item > input[type=checkbox] {
    top: calc(((1em * var(--line-height)) / 2) - (var(--checkbox-size) / 2));
    left: calc(0px - var(--checkbox-size));
    margin: 0;
}


/* ========================================================================== */
/* Tables
/* ========================================================================== */
figure.md-table-fig {
    margin: 2rem 0 2rem 0;
}

thead {
    border-width: var(--thead-border-width, 0);
    border-color: var(--thead-border-color);
}

tbody {
    border-width: var(--tbody-border-width, 0);
    border-color: var(--tbody-border-color);
}

tbody tr {
    border-width: var(--tr-border-width, 0);
    border-color: var(--tr-border-color);
}

tbody tr:nth-child(even) {
    background: var(--tr-alt-background);
}

th {
    padding: var(--th-padding);
    border-width: var(--th-border-width, 0);
    border-color: var(--th-border-color);
    font-weight: var(--th-font-weight);
    color: var(--th-color)
}

td {
    padding: var(--td-padding);
    border-width: var(--td-border-width, 0);
    border-color: var(--td-border-color);
}

/* Editing Bar
/* -------------------------------------------------------------------------- */
.md-table-edit {
    --item-hover-bg-color  : var(--theme-mono-300);
    --item-hover-text-color: var(--theme-mono-50);

    z-index: 1;
    transform: translate(0, -0.30rem);
    padding: 0 5px;
    border-radius: var(--border-radius);
    background: var(--table-editor-background);
}

.md-table-edit {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.md-table-edit .right-th-button {
    float: none;
}

.md-table-edit > span.right-th-button {
    margin-left: auto;
}

.md-table-edit > span.right-th-button ~ .right-th-button  {
    margin-left: 0;
}

.md-table-edit > span[class] button[class].btn {
    margin: 0;
    padding: 3px 8px 3px 8px;
    border: 0;
    border-radius: 0;
    font-size: inherit;
    line-height: 1.4;
}

.md-table-edit > span[class] button[class].active {
    background: var(--theme-mono-500);
    box-shadow: none;
}

.md-table-edit .ty-icon {
    color: var(--theme-mono-500);
}

.md-table-edit button.active .ty-icon {
    color: var(--theme-mono-50);
}

.md-table-edit .md-table-more {
    display: inline-block;
}

.md-table-edit .md-table-more .ty-icon {
    margin: 0 3px !important;
}

.md-table-edit .md-table-more-label {
    display: none !important;
}

/* Resize Popover
/* -------------------------------------------------------------------------- */
.md-table-resize-popover[class] {
    width: auto;
    transform: translate(10px, 2px);
    padding: 0;
    border: 0;
    background: var(--background-color);
    box-shadow: none;
    filter: var(--drop-shadow);
}

.md-table-resize-popover[class] .arrow,
.md-table-resize-popover[class] .arrow:after {
    border-bottom-color: var(--background-color);
}

.md-grid-board-wrap {
    padding: 1rem;
    border-radius: var(--border-radius);
    background: var(--background-color);
}

table.md-grid-board {
    margin: auto;
    border-spacing: 3px;
}

table.md-grid-board td {
    overflow: hidden;
    border-radius: 2px;
}

table.md-grid-board a {
    border-color: var(--theme-mono-300);
    background: var(--form-element-background);
}

table.md-grid-board .md-grid-ext,
table.md-grid-board .md-grid-ext a {
    border-color: var(--theme-mono-500);
    background: var(--theme-mono-500);
}

table.md-grid-board:hover .md-grid-ext,
table.md-grid-board:hover .md-grid-ext a {
    border-color: var(--theme-mono-300);
    background: var(--theme-mono-300);
}

table.md-grid-board:hover a:hover,
table.md-grid-board:hover a.md-active {
    border-color: var(--theme-primary);
    background: var(--theme-primary);
}

.md-grid-board-wrap #md-grid-width,
.md-grid-board-wrap #md-grid-height {
    margin: 0 0.2rem;
    border-color: var(--theme-mono-300);
    border-radius: 2px;
    background: var(--form-element-background);
    line-height: 1.6;
    text-align: center;
}

.md-grid-board-wrap .popover-title {
    margin: 0.5rem 0 0 0;
    padding: 0;
    border: 0;
}

.md-grid-board-wrap .popover-title button {
    display: none !important;
}


/* ========================================================================== */
/* Code
/* ========================================================================== */
/* Inline
/* -------------------------------------------------------------------------- */
[md-inline="code"] {
    padding: 0.1em 0.35em;
    border-radius: var(--border-radius-s);
    background: var(--code-inline-background);
    color: var(--code-inline-color);
}

/* Fences
/* -------------------------------------------------------------------------- */
.md-fences {
    margin: 2rem 0;
    background: none;
}

/* CodeMirror
/* -------------------------------------------------------------------------- */
#typora-source .CodeMirror-lines {
    max-width: var(--max-width);
}

#typora-source .CodeMirror-line,
#write .CodeMirror {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-mono);
    font-weight: var(--font-weight-mono);
    color: var(--code-text-color);
}

#write .cm-s-inner {
    padding: var(--code-padding-tb) var(--code-padding-lr);
    border-radius: var(--border-radius);
    background: var(--code-background);
}

:is(#write, #typora-source) .CodeMirror-cursor {
    border-left: var(--code-cursor-border);
}

:is(#write, #typora-source) .CodeMirror-focused .CodeMirror-activeline:not(:only-child) .CodeMirror-activeline-background {
    border-radius: var(--border-radius-s);
    background: var(--code-activeline-background);
}

#write .CodeMirror-gutters {
    border-right: 0;
}

:is(#write, #typora-source) .CodeMirror-linenumber {
    color: var(--code-linenumber-color);
}

:is(#write, #typora-source) .CodeMirror-selected,
:is(#write, #typora-source) .CodeMirror-selectedtext {
    background: var(--code-selected-background) !important;
    color: var(--code-selected-color) !important;
}

/* Syntax Highlighting
/* -------------------------------------------------------------------------- */
#typora-source .cm-atom {
    color: inherit;
}

#write .cm-atom {
    color: var(--code-atom-color);
}

:is(#write, #typora-source) .cm-attribute {
    color: var(--code-attribute-color);
}

:is(#write, #typora-source) .cm-builtin {
    color: var(--code-builtin-color);
}

:is(#write, #typora-source) .cm-comment {
    color: var(--code-comment-color);
    opacity: 1 !important;
}

:is(#write, #typora-source) .cm-def {
    color: var(--code-def-color);
}

:is(#write, #typora-source) .cm-error {
    color: var(--code-error-color);
}

#typora-source .cm-header {
    color: var(--heading-color);
}

:is(#write, #typora-source) .cm-keyword {
    color: var(--code-keyword-color);
}

#write .cm-link {
    color: var(--code-link-color);
}

#typora-source .cm-link {
    color: var(--link-color);
}

#write .cm-meta {
    color: var(--code-meta-color);
}

:is(#write, #typora-source) .cm-number {
    color: var(--code-number-color);
}

:is(#write, #typora-source) .cm-operator {
    color: var(--code-operator-color);
}

:is(#write, #typora-source) .cm-property {
    color: var(--code-property-color);
}

:is(#write, #typora-source) .cm-qualifier {
    color: var(--code-qualifier-color);
}

:is(#write, #typora-source) .cm-string {
    color: var(--code-string-color);
}

:is(#write, #typora-source) .cm-string-2 {
    color: var(--code-string-2-color);
}

:is(#write, #typora-source) .cm-tag {
    color: var(--code-tag-color);
}

:is(#write, #typora-source) .cm-type {
    color: var(--code-type-color);
}

:is(#write, #typora-source) .cm-s-inner .cm-variable {
    color: var(--code-variable-color);
}

:is(#write, #typora-source) .cm-s-inner .cm-variable-2 {
    color: var(--code-variable-2-color);
}

:is(#write, #typora-source) .cm-s-inner .cm-variable-3 {
    color: var(--code-variable-3-color);
}

/* Note: must come after other classes */
:is(#write, #typora-source) .cm-bracket {
    color: var(--code-bracket-color);
}

/* Language Selector
/* -------------------------------------------------------------------------- */
#write .md-fences > .code-tooltip,
#write .md-fences > .code-tooltip .ty-cm-lang-input {
    border-radius: var(--border-radius-s);
    font-family: var(--font-family-sans);
    font-size: var(--font-size-s);
    line-height: var(--line-height);
}

#write .md-fences > .code-tooltip {
    bottom: 100%;
    right: var(--code-padding-lr);
    z-index: 1;
    padding: 0;
    border: 0;
    background: var(--code-language-background);
    color: var(--code-language-color);
    box-shadow: none;
    opacity: 1;
    transform: translateY(50%);
}

.md-fences > .code-tooltip .ty-cm-lang-input {
    min-width: 17ch;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    line-height: calc(var(--font-size-mono) * var(--line-height));
}

.md-fences > .code-tooltip .ty-cm-lang-input:focus {
    border-color: var(--theme-primary);
    background: var(--form-element-background);
    color: var(--text-color);
}

/* Diagrams
/* -------------------------------------------------------------------------- */
.md-diagram-panel,
.md-diagram-panel svg,
.md-diagram-panel-preview {
    margin: 0;
    padding: 0;
}

#write .md-diagram.md-focus .cm-s-inner {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#write .md-diagram.md-focus .md-diagram-panel {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-width: 2px 0 0 0;
    border-color: var(--code-activeline-background);
    background: var(--theme-mono-100);
}

.md-diagram-panel-preview svg,
mjx-container svg {
    inset: auto;
    margin: 0 auto;
}

.md-fences-adv-panel,
.md-diagram-panel-preview svg *,
mjx-container {
    font-family: var(--font-family-sans);
}

/* Errors */
.md-diagram-panel-error:not(:empty) {
    position: relative;
    margin-top: 10px;
    padding: var(--code-padding-tb) var(--code-padding-lr);
    border-radius: var(--border-radius);
    background: var(--code-error-color);
    color: #fff;;
    font-size: var(--font-size-s);
    font-weight: calc(var(--font-weight) + 100);
}

.md-diagram-panel-error:not(:empty):before {
    content: '';
    position: absolute;
    inset: auto auto 100% 50%;
    border-width: 11px;
    border-color: transparent;
    border-top-width: 0;
    border-bottom-color: var(--code-error-color);
    transform: translateX(-50%);
}

.md-diagram.md-focus .md-diagram-panel-error {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Flowcharts */
pre.md-diagram[lang="flow"] .md-diagram-panel-preview {
    padding-bottom: 20px;
}

/* Mermaid */
pre.md-diagram[mermaid-type] svg {
    padding-top: 5px;
    padding-bottom: 12px;
}

/* Mermaid: GANTT */
pre.md-diagram[mermaid-type="gantt"] svg {
    padding: 8px 0 0;
}

/* Mermaid: Pie */
pre.md-diagram[mermaid-type="pie"] svg {
    aspect-ratio: 16/9;
    padding-top: 15px;
}

/* Mermaid: Sequence */
pre.md-diagram[mermaid-type="sequenceDiagram"] svg {
    padding: 13px;
}

/* Sequence */
pre.md-fences[lang="sequence"] .md-diagram-panel {
    padding: 0;
}

/* Math (LaTeX / Tex) */
.md-math-block.md-focus {
    background: var(--code-background);
}

.md-math-block .code-tooltip {
    box-shadow: none;
}

.md-math-block .md-rawblock-before,
.md-math-block .md-rawblock-after {
    padding: var(--code-padding-tb) var(--code-padding-lr);
}

.md-math-block .md-rawblock-before {
    padding-bottom: 0;
}

.md-math-block .md-rawblock-after {
    padding-top: 0;
}

.md-math-block .md-math-tag-input {
    position: relative;
    z-index: 1;
}

.md-math-block .md-mathjax-preview {
    border-top-width: 2px;
    border-color: var(--panel-border-color);
    padding: 20px var(--code-padding-lr);
}

/* Raw Blocks
/* -------------------------------------------------------------------------- */
.md-rawblock:hover .md-rawblock-container,
.md-rawblock:hover .md-rawblock-tooltip {
    animation: none;
    transition: none;
}

.md-rawblock .md-rawblock-tooltip,
.md-rawblock:hover .md-rawblock-tooltip {
    background: var(--code-language-background);
}

.md-rawblock-tooltip,
.md-rawblock-tooltip-btn,
.md-rawblock-tooltip-name {
    margin: 0;
    padding: 0;
    color: var(--code-language-color);
    font-family: var(--font-family-sans);
    font-size: var(--font-size-s);
    line-height: calc(var(--font-size-mono) * var(--line-height));
    opacity: 1;
}

.md-rawblock:hover .md-rawblock-container {
    background: var(--code-background);
    color: var(--code-text-color);
}

.md-rawblock .md-rawblock-control:not(.md-rawblock-tooltip) {
    background: none;
}

.md-rawblock .md-rawblock-input {
    padding: 0;
}

.md-rawblock .md-rawblock-tooltip {
    inset: auto 1rem auto auto;
    z-index: 1;
    height: auto;
    padding: 0 1rem;
    border-radius: var(--border-radius-s);
    transform: translateY(-50%);
}

.md-rawblock-tooltip-name ~ .md-rawblock-tooltip-btn {
    width: auto;
    margin-left: 0.25em;
}


/* ========================================================================== */
/* TOC
/* ========================================================================== */
.md-toc {
    margin: 2rem 0;
    font-size: var(--font-size-m);
    line-height: var(--line-height);
}

.md-toc-content {
    padding: 0;
    margin: 0;
}

.md-toc:focus .md-toc-content {
    border: unset;
    margin: 0;
}

.md-toc-h1 .md-toc-inner {
    margin-left: 0;
    font-weight: var(--strong-font-weight);
}

.md-toc-h2 .md-toc-inner {
    margin-left: 1em;
}

.md-toc-h3 .md-toc-inner {
    margin-left: 2em;
}

.md-toc-h4 .md-toc-inner {
    margin-left: 3em;
}

.md-toc-h5 .md-toc-inner {
    margin-left: 4em;
}

.md-toc-h6 .md-toc-inner {
    margin-left: 5em;
}

/* Edit bar (TOC, Tables)
/* -------------------------------------------------------------------------- */
#write div.md-toc-tooltip {
    inset: auto auto 100% -10px;
    width: calc(100% + 20px);
    padding: 0 8px;
    border: 0;
    border-radius: var(--border-radius);
    background: var(--table-editor-background);
    font-size: var(--font-size-s);
    line-height: calc(var(--font-size-m) * var(--line-height));
}

.md-toc.md-focus .md-toc-tooltip,
.md-toc:focus .md-toc-tooltip {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}
