:root {
    /* Tailwind Neutral: https://tailwindcss.com/docs/customizing-colors */
    --theme-50: #fafafa;
    --theme-100: #f5f5f5;
    --theme-200: #e5e5e5;
    --theme-300: #d4d4d4;
    --theme-400: #a3a3a3;
    --theme-500: #737373;
    --theme-600: #525252;
    --theme-700: #404040;
    --theme-800: #262626;
    --theme-900: #171717;
}
