/* ================================================================ */
/* Themeable Dark - Common
/* ================================================================ */
:root {
    /* Colors */
    --color-primary            : var(--sky-500);
    --color-secondary          : var(--violet-400);
    --marked-background        : var(--yellow-400);
    --search-match-background  : var(--pink-900);
    --search-match-border-color: var(--pink-600);
    --selection-background     : var(--sky-800);
}

/* ================================================================ */
/* Themeable Dark - Advanced
/* ================================================================ */
:root {
    /* Colors */
    --color-status: var(--mono-300);

    /* App */
    --input-background : var(--mono-50);
    --menu-background  : var(--mono-100);
    --menu-border-width: 1px;
    --scrollbar-thumb-color: var(--mono-200);

    /* Elements */
    --kbd-background  : var(--mono-100);
    --kbd-border-color: var(--border-color);
    --marked-color    : var(--mono-200);

    /* Syntax Highlighting */
    --code-atom-color      : var(--amber-400);
    --code-attribute-color : var(--sky-400);
    --code-builtin-color   : var(--emerald-400);
    --code-def-color       : var(--violet-400);
    --code-error-color     : var(--red-400);
    --code-keyword-color   : var(--sky-400);
    --code-meta-color      : var(--rose-400);
    --code-operator-color  : var(--rose-400);
    --code-property-color  : var(--sky-400);
    --code-qualifier-color : var(--emerald-400);
    --code-tag-color       : var(--violet-400);
    --code-type-color      : var(--rose-400);
    --code-variable-color  : var(--cyan-400);
    --code-variable-2-color: var(--cyan-400);
    --code-variable-3-color: var(--emerald-400);

    /* Mermaid */
    --mermaid-theme: dark;
}