/* Typora (Overrides) */
/* ========================================================================== */
:root {
    --active-file-bg-color: var(--sidebar-active-background);
    --active-file-text-color: var(--sidebar-active-color);
    --bg-color: var(--background-color);
    --control-text-color: var(--sidebar-color);
    --control-text-hover-color: var(--sidebar-hover-color);
    --item-hover-bg-color: var(--color-hover);
    --item-hover-text-color: var(--color-hover-content);
    --md-char-color: var(--md-brackets-expanded);
    --meta-content-color: inherit;
    --monospace: var(--font-family-mono);
    --search-select-bg-color: var(--search-match-background);
    --search-select-text-color: var(--search-match-color);
    --select-text-bg-color: var(--selection-background);
    --window-border: 1px solid var(--border-color);
}
