@import url("themeable/core.css");
@import url("https://rsms.me/inter/inter.css");


/* Theme Variables
/* ========================================================================== */
:root {
    /* Color palette */
    /* Names: red, orange, amber, yellow, lime, green, emerald, teal, cyan, */
    /*        sky, blue, indigo, violet, purple, fuchsia, pink, rose */
    --color-primary        : var(--sky-600);
    --color-primary-content: #fff;

    /* Palette - Monochrome (Grayscale) */
    /* Options: slate, gray, zinc, neutral, stone */
    --mono-50 : var(--neutral-50);
    --mono-100: var(--neutral-100);
    --mono-200: var(--neutral-200);
    --mono-300: var(--neutral-300);
    --mono-400: var(--neutral-400);
    --mono-500: var(--neutral-500);
    --mono-600: var(--neutral-600);
    --mono-700: var(--neutral-700);
    --mono-800: var(--neutral-800);
    --mono-900: var(--neutral-900);

    /* State */
    --color-hover         : var(--mono-200);
    --color-hover-content : inherit;
    --color-status        : var(--mono-500);
    --color-status-content: #fff;

    /* Typography */
    --root-font-size  : 16px;
    --modular-scale   : 1.414; /* 1.067, 1.125, 1.200, 1.250, 1.333, 1.414, 1.500, 1.618 */
    --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-family-sans: "Inter var", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-size-app   : 0.875rem; /* 14px */
    --font-size-app-s : 0.75rem; /* 12px */
    --font-size-app-xs: 0.6875rem; /* 11px */
    --font-size-mono  : max(var(--font-size-s), 0.9375rem);
    --font-size-xxl   : calc(var(--font-size-xl) * var(--modular-scale)); /* 45px (28 * 1.414) */
    --font-size-xl    : calc(var(--font-size-l) * var(--modular-scale)); /* 32px (21 * 1.414) */
    --font-size-l     : calc(1rem * var(--modular-scale)); /* 23px (16 * 1.414) */
    --font-size-m     : 1rem; /* 16px */
    --font-size-s     : max(0.75rem, calc(1rem / var(--modular-scale))); /* 12px (13 > (16 / 1.414 = 11) */
    --font-size-xs    : max(0.6875rem, calc(var(--font-size-s) / var(--modular-scale))); /* 11px (11 > (13 / 1.414 = 9) */
    --font-weight     : 400;
    --font-weight-mono: 500;
    --line-height     : 1.6;

    /* App */
    --background-color            : var(--mono-50);
    --border-color                : var(--mono-200);
    --border-radius               : 6px;
    --border-radius-s             : 3px;
    --border-radius-xs            : 1px;
    --border-width                : 1px;
    --btn-toggle-active-background: ;
    --btn-toggle-active-color     : var(--color-primary);
    --btn-toggle-background       : ;
    --btn-toggle-color            : var(--mono-400);
    --btn-toggle-hover-background : var(--color-hover);
    --btn-toggle-hover-color      : var(--color-hover-content);
    --drop-shadow                 : drop-shadow(0 3px 5px rgba(0, 0, 0, 0.15));
    --input-background            : #fff;
    --input-border-color          : var(--border-color);
    --input-focus-color           : var(--color-primary);
    --input-color                 : var(--text-color);
    --input-placeholder-color     : var(--mono-400);
    --max-width                   : 75ch;
    --menu-background             : var(--mono-50);
    --menu-color                  : inherit;
    --menu-item-hover-background  : var(--color-hover);
    --menu-item-hover-color       : var(--color-hover-content);
    --search-match-background     : var(--pink-100);
    --search-match-border-color   : var(--pink-500);
    --search-match-color          : var(--text-color);
    --selection-background        : var(--sky-200);
    --selection-color             : var(--text-color);
    --text-color                  : var(--mono-700);

    /* Sidebar */
    --sidebar-active-background: var(--color-hover);
    --sidebar-active-color     : var(--color-hover-content);
    --sidebar-background       : var(--mono-100);
    --sidebar-border-color     : var(--mono-200);
    --sidebar-border-width     : 1px;
    --sidebar-color            : var(--mono-700);
    --sidebar-hover-background : var(--color-hover);
    --sidebar-hover-color      : var(--color-hover-content);

    /* Elements */
    --blockquote-background  : var(--mono-100);
    --blockquote-border-color: var(--color-primary);
    --blockquote-border-width: 0 0 0 4px;
    --blockquote-color       : inherit;
    --blockquote-padding     : 1rem 1.5rem 1rem 1.5rem;
    --heading-color          : var(--mono-800);
    --heading-font-weight    : 800;
    --h1-font-size           : var(--font-size-xxl);
    --h2-font-size           : var(--font-size-xl);
    --h3-font-size           : var(--font-size-l);
    --h4-font-size           : var(--font-size-m);
    --h5-font-size           : var(--font-size-m);
    --h6-font-size           : var(--font-size-s);
    --hr-color               : var(--mono-300);
    --hr-height              : 2px;
    --link-color             : var(--color-primary);
    --marked-background      : var(--yellow-300);
    --marked-color           : inherit;
    --strong-color           : var(--mono-800);
    --strong-font-weight     : 800;

    /* Lists */
    --checkbox-background   : var(--mono-100);
    --checkbox-border-color : var(--mono-300);
    --checkbox-border-radius: 4px;
    --checkbox-check-color  : #fff;
    --checkbox-size         : 1.2rem;
    --counter-color         : inherit;
    --marker-color          : inherit;

    /* Markdown Meta */
    --md-brackets         : var(--mono-400);
    --md-brackets-expanded: var(--violet-500);
    --md-tags             : var(--md-brackets);
    --md-tags-expanded    : var(--md-brackets-expanded);

    /* Tables */
    --thead-border-color: var(--mono-300);
    --thead-border-width: 0 0 2px 0;
    --th-border-color   : unset;
    --th-border-width   : unset;
    --th-color          : var(--strong-color);
    --th-font-weight    : var(--strong-font-weight);
    --th-padding        : 0 0.75rem 0.5rem 0.75rem;
    --tbody-border-color: unset;
    --tbody-border-width: unset;
    --tr-alt-background : var(--mono-100);
    --tr-border-color   : var(--mono-200);
    --tr-border-width   : 0 0 1px 0;
    --td-border-color   : unset;
    --td-border-width   : unset;
    --td-padding        : 0.5rem 0.75rem;

    /* Table / TOC Edit Bar */
    --table-edit-background       : var(--mono-200);
    --table-edit-color            : var(--mono-600);
    --table-edit-active-background: var(--mono-500);
    --table-edit-active-color     : var(--mono-50);
    --table-edit-hover-background : var(--mono-300);
    --table-edit-hover-color      : var(--table-edit-color);

    /* Code */
    --code-inline-background: var(--mono-200);
    --code-inline-color     : var(--strong-color);

    /* Code Fences */
    --code-activeline-background: var(--mono-200);
    --code-atom-color           : var(--amber-500);
    --code-attribute-color      : var(--sky-600);
    --code-background           : var(--mono-100);
    --code-bracket-color        : var(--mono-400);
    --code-builtin-color        : var(--emerald-600);
    --code-comment-color        : var(--mono-400);
    --code-cursor-border        : 2px solid var(--color-primary);
    --code-def-color            : var(--violet-500);
    --code-error-color          : var(--red-500);
    --code-keyword-color        : var(--sky-600);
    --code-language-background  : var(--code-activeline-background);
    --code-language-color       : var(--code-text-color);
    --code-linenumber-color     : var(--mono-400);
    --code-link-color           : ;
    --code-meta-color           : var(--rose-600);
    --code-number-color         : ;
    --code-operator-color       : var(--rose-600);
    --code-property-color       : var(--sky-600);
    --code-qualifier-color      : var(--emerald-600);
    --code-selected-background  : var(--selection-background);
    --code-selected-color       : var(--selection-color);
    --code-string-2-color       : ;
    --code-string-color         : ;
    --code-tag-color            : var(--violet-500);
    --code-text-color           : var(--mono-700);
    --code-type-color           : var(--rose-600);
    --code-variable-2-color     : var(--cyan-500);
    --code-variable-3-color     : var(--emerald-500);
    --code-variable-color       : var(--cyan-500);
}


/* Print Styles
/* ========================================================================== */
@media print {
    :root {
        --background-color: #fff;
    }
}
